body{
    background-color : #e7e9eb;
}
#myDIV{
    height : 300px;
    background-color : #ffffff;
}
.ex1{
    background-color : lightblue;
    width : 150px;
    height : 100px;
    overflow : auto;
}